.containerBackground {
    background: linear-gradient(180deg, #F6BB46 0%, rgba(248, 94, 241, 0.36) 100%);
}

.rounded1 {
    border-radius: 130px;
}

.confirmbutton {
    background-color: #F5987B;
}

.guideCard {
    background-color: #EEE0E0;
}

.rejectColor {
    background-color: #EA6B6B;
}

.primarybutton {
    background-color: #45CFC9;
}

.purplebutton {
    background-color: #7866FA;
}

.timeChoose {
    border-radius: 88px;
}

.greenbutton {
    background-color: #F0FEC0;
}

.bounce {
    animation: bounceX 1s infinite;
}

.box0 {
    background-color: #FFE5D9;
}

.box1 {
    background-color: #FFD6C5;
}

.box2 {
    background-color: #FFC4B8;
}

.box3 {
    background-color: #FFB0B5;
}

@keyframes bounceX {
    0%, 100% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }