.containerBackground {
    background: linear-gradient(180deg, #F6BB46 0%, rgba(248, 94, 241, 0.36) 100%);
}

.rounded1 {
    border-radius: 130px;
}

.confirmbutton {
    background-color: #F5987B;
}

.guideCard {
    background-color: #EEE0E0;
}

.rejectColor {
    background-color: #EA6B6B;
}

.primarybutton {
    background-color: #45CFC9;
}

.purplebutton {
    background-color: #7866FA;
}
